<!DOCTYPE HTML>
<html>
	<head>
		<title>衍峰琥珀|关于我们</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lt IE 9]> <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> <![endif]-->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/static/css/overall.css" />
		<link rel="stylesheet" href="/static/css/product-catalog.css" />
		<link rel="stylesheet" href="/static/css/about.css" />
	</head>
	<body>
		<div id="wrapper">
			<!-- header starts -->
			<div id="header">
				<div id="nav">
					<div class="logo">
						<a href="/index/"><img src="/static/images/logo.png" width="150px" height="73px" /></a>
					</div>
					<ul class="menu">
						<li><a class="sink" href="/three-column/">产品<br /><span>Our Products</span></a></li>
						<li><a class="sink" href="/event/">活动<br /><span>Our Events</span></a></li>
						<li class="li-last"><a class="sink" style="color: #684643" href="/about/">关于我们<br /><span style="color: #684643">About us</span></a></li>
					</ul>
				</div>
			</div>
			<!-- header ends -->
			<!-- leftnav starts -->
			<div id="leftnav">
				<div id="level-about">
					<div id="company-intro" class="level2chosen"><a style="width: 32px; height: 16px">公司简介</a></div>
					<div style="height: 15px"></div>
	 				<div id="brand-intro" class="level2"><a style="width: 48px; height: 16px">品牌简介</a></div>
					<div style="height: 15px"></div>
	 				<div id="brand-spe" class="level2"><a style="width: 48px; height: 16px">品牌特色</a></div>
					<div style="height: 15px"></div>
	 				<div id="brand-ser" class="level2"><a style="width: 48px; height: 16px">品牌服务</a></div>
 				</div>
 			</div>
			<!-- leftnav ends -->
			<!-- banner starts -->
			<div id="banner">
				<div class="box">
					<!-- 公司简介Column1 -->
					<div id="about11">
						<div class="AboutWrapper" style="left: 0">
							<div class="AboutPicture">
								<img style="position: absolute; left: 10px; top: 10px; width: 360px; height: 230px" src="/static/images/about/company-intro.png">
							</div>
							<div style="height: 8px"></div>
							<a class="textbody">衍峰（北京）文化有限公司，是以金丝楠和琥珀产品设计领先，制造与商业两翼齐飞、国内与国外市场共同发展的民营企业，衍峰致力于打造中国家居自然生活，也开拓了房地产公关活动业务。经过多年的前期积累，在奢侈品领域，产品一经面市即迅速成为业界领导品牌，被誉为中国民营企业发展的璀璨新星。<div style="height: 8px"></div>公司注册资本500万，旗下拥有“楠舍”金丝楠和“衍峰”琥</a>
						</div>
					</div>
					<!-- 公司简介Column2 -->
					<div id="about12">
						<div class="AboutWrapper" style="left: 420px">
							<a class="textbody">珀两大品牌，同时开拓房地产公关活动，打造奢侈品与活动策划相得益彰的璀璨星光。办公，工厂，会所等面积近2万平米。2013年达成与清华大学的战略合作，对于金丝楠和琥珀产品设计提供专业的技术支持。目前公司拥有近百人的技术和销售团队。下设七个部门，两大制造基地，生产流程、工艺技术具备国际先进水平，能适应多品种高品质快速供货服务需求；国内市场网络已覆盖60%的一、二级城市以及70%以上的三级城市，国际市场涵盖全球10多个国家和地区，构成了衍峰多层次、全方位的网络体系，成为衍峰品牌发展的有力臂膀。<div style="height: 8px"></div>衍峰坚守“人为本，以诚信为先，以创造价值为荣”的核心理念和“不断超越自我，团队合作，勤勉务实”的企业精神，培育和锻造出独具特色的企业文化，以设计领先、品质优秀、成本卓越的产品，以精、准、快的服务，形成衍峰持久、强大的核心竞争力，为衍峰的健康、平稳、快速发展奠定了坚实基础。<div style="height: 8px"></div>未来的衍峰，将以国际化的战略视野与能力，以资本、品牌、文化为纽带，全力缔造更为卓越的商业、制造和管理新模式；将致力于打造中国人自己的世界名牌，铸就一个国际化的衍峰，为实践“衍峰•高素质生活”不懈努力。</a>
						</div>
					</div>
					<!-- 品牌简介Column1 -->
					<div id="about21" class="hide">
						<div class="AboutWrapper" style="left: 0">
							<div class="AboutPicture">
								<img style="position: absolute; left: 10px; top: 10px; width: 360px; height: 230px" src="/static/images/about/brand-intro.jpg">
							</div>
							<div style="height: 8px"></div>
							<a class="textbody">全球珍稀琥珀的缔造者衍峰琥珀，缘起于2007年，世代传承的时光流过，积淀了荣耀沧桑。<div style="height: 12px"></div>时至今日，衍峰琥珀凭借稀世的材质、傲世的传统雕刻工艺，以及融汇新中式设计理念的恢弘造诣，已成功步入全球顶级的琥珀品牌行列，成为传统与经典的代名词。<div style="height: 12px"></div>衍峰琥珀，表现出富有东方神韵而又高雅独特的时尚风格，倍</a>
						</div>
					</div>
					<!-- 品牌简介Column2 -->
					<div id="about22" class="hide">
						<div class="AboutWrapper" style="left: 420px">
							<a class="textbody">受时尚界关注。她继承了中国深厚的文化艺术传统，始终保持古典风格的设计路线，每一件匠心之作均来自神思之点滴。同时，为适应现代时尚人士的审美品味，衍峰琥珀在设计中融合了时尚洒脱、优雅自信的现代人文精神和个性内涵，已成为中国琥珀文化的风向标。</a>
						</div>
					</div>
					<!-- 品牌特色Column1 -->
					<div id="about31" class="hide">
						<div class="AboutWrapper" style="left: 0">
							<div class="AboutPicture">
								<img style="position: absolute; left: 10px; top: 10px; width: 360px; height: 230px" src="/static/images/about/brand-spe.jpg">
							</div>
							<div style="height: 8px"></div>
							<a class="title">东方经典琥珀第一品牌</a>
							<div style="height: 23px">
							<a class="textbody"></div>衍峰琥珀提倡趋于完美的生活方式，做每个追求完美生活的人都能拥有的精品琥珀。<div style="height: 8px"></div>她渲染着充满爱且优雅生活主张，代表着“自信、个性、传统、高贵、典雅、禀承琥珀传统经典内涵、创新丰富琥珀语言”。其“信义信仁，修业修世”的理念已嵌入每一件精湛的琥珀作品之中，让每一位拥有者体验雅致的品质，典雅生活。</a>
						</div>
					</div>
					<!-- 品牌特色Column2 -->
					<div id="about32" class="hide">
						<div class="AboutWrapper" style="left: 420px">
							<a class="textbody">以“弘扬东方经典”为核心，在创新设计上紧跟国际潮流，将中国源远流长的琥珀文化与现代工艺至臻融合，赋予产品深邃的工艺技术、造型艺术、美学思想和文化内涵，赢得各地时尚界的广泛认同与喜爱。<div style="height: 8px"></div>创新是衍峰琥珀发展的核心动力，拥有一支近50人的充满活力与创意的研发设计团队，并与清华大学美术学院一起进行产品创新开发，在30000万平米的总部生产大楼，每天可诞生20余系列产品。每年近万款原创产品上市，衍峰琥珀产品种类现已全面覆盖到金珀、血珀、花珀、蓝珀、新蜜、老蜜、白蜜、金绞蜜、双色等。并有高级定制系列精品。<div style="height: 8px"></div>品质是衍峰琥珀永恒发展的基石，衍峰琥珀从研发、设计到生产，全资自属工厂全程一体化运作。保证产品最终的质量出口。</a>
						</div>
					</div>
					<!-- 品牌服务Column1 -->
					<div id="about41" class="hide">
						<div class="AboutWrapper" style="left: 0">
							<a class="textbody">拥有一支近50人的充满活力与创意的研发设计团队，并与清华大学美术学院一起进行产品创新开发，在30000万平米的总部生产大楼，每天可诞生20余系列产品。每年近万款原创产品上市，衍峰琥珀产品种类现已全面覆盖到金珀、血珀、花珀、蓝珀、新蜜、老蜜、白蜜、金绞蜜、双色等。并有高级定制系列精品。<div style="height: 12px"></div>品质是衍峰琥珀永恒发展的基石，衍峰琥珀从研发、设计到生产，全资自属工厂全程一体化运作。保证产品最终的质量出口。<div style="height: 12px"></div>为了方便外地经销商来京选购洽谈，我公司特提供接机包食宿服务。欢迎大家前来。</a>
						</div>
					</div>
				</div>
			</div>
			<!-- banner ends -->
			<!-- footer starts -->
			<div id="footer">
				<ul class="info">
					<li><a href="/contact/" target= "_blank ">联系我们</a></li>
					<li><a href="/weixin/" target= "_blank ">关注我们</a><img src="/static/images/weixin.png" width="18px" height="13px"></li>
					<li class="li-last"><a href="http://shop109278676.taobao.com/?spm=a230r.7195193.1997079397.2.gCCOiJ" target= "_blank ">衍峰琥珀淘宝店</a></li>
				</ul>
			</div>
			<!-- footer ends -->
		</div>
	</body>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/about.js"></script>
</html>