<!DOCTYPE HTML>
<html>
	<head>
		<title>衍峰琥珀|关于我们</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lt IE 9]> <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> <![endif]-->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/static/css/overall.css" />
		<link rel="stylesheet" href="/static/css/product-catalog.css" />
		<link rel="stylesheet" href="/static/css/about.css" />
	</head>
	<body>
		<div id="wrapper">
			<!-- header starts -->
			<div id="header">
				<div id="nav">
					<div class="logo">
						<a href="/index/"><img src="/static/images/logo.png" width="150px" height="73px" /></a>
					</div>
					<ul class="menu">
						<li><a class="sink" href="/three-column/">产品<br /><span>Our Products</span></a></li>
						<li><a class="sink" href="/event/">活动<br /><span>Our Events</span></a></li>
						<li class="li-last"><a class="sink" style="color: #684643" href="/about/">关于我们<br /><span style="color: #684643">About us</span></a></li>
					</ul>
				</div>
			</div>
			<!-- header ends -->
			<!-- leftnav starts -->
			<div id="leftnav">
				<div id="level-about">
					<div id="company-intro" class="level2chosen"><a style="width: 32px; height: 16px">公司简介</a></div>
					<div style="height: 15px"></div>
	 				<div id="brand-intro" class="level2"><a style="width: 48px; height: 16px">品牌简介</a></div>
					<div style="height: 15px"></div>
	 				<div id="brand-spe" class="level2"><a style="width: 48px; height: 16px">品牌特色</a></div>
					<div style="height: 15px"></div>
	 				<div id="brand-ser" class="level2"><a style="width: 48px; height: 16px">品牌服务</a></div>
					<div style="height: 100px"></div>
	 				<div class="level2"><a id="EditAbout" style="width: 48px; height: 16px" href="/admin/">编辑本页</a></div>
 				</div>
 			</div>
			<!-- leftnav ends -->
			<!-- banner starts -->
			<div id="banner">
				<div class="box">
                    <textarea name="CItextHTML" id="CItextHTML" style="display: none">{{ CItextHTML }}</textarea>
                    <textarea name="BItextHTML" id="BItextHTML" style="display: none">{{ BItextHTML }}</textarea>
                    <textarea name="BSPtextHTML" id="BSPtextHTML" style="display: none">{{ BSPtextHTML }}</textarea>
                    <textarea name="BSEtextHTML" id="BSEtextHTML" style="display: none">{{ BSEtextHTML }}</textarea>
				</div>
			</div>
			<!-- banner ends -->
			<!-- footer starts -->
			<div id="footer">
				<ul class="info">
					<li><a href="/contact/" target= "_blank ">联系我们</a></li>
					<li><a href="/weixin/" target= "_blank ">关注我们</a><img src="/static/images/weixin.png" width="18px" height="13px"></li>
					<li class="li-last"><a href="http://shop109278676.taobao.com/?spm=a230r.7195193.1997079397.2.gCCOiJ" target= "_blank ">衍峰琥珀淘宝店</a></li>
				</ul>
			</div>
			<!-- footer ends -->
		</div>
	</body>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/about.js"></script>
</html>