<!DOCTYPE HTML>
<html>
	<head>
		<title>衍峰琥珀|联系我们</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lt IE 9]> <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> <![endif]-->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/static/css/we.css" />
	</head>
	<body>
		<div id="logo"><a href="/index/"><img src="/static/images/logo.png" style="margin-top: 105px; cursor: pointer" width="150px" height="73px"/></a></div>
		<div id="map"><img src="/static/images/map.png" style="margin-top: 30px" width="500px" height="318px" /></div>
		<div id="address" style="margin-top: 30px; margin-left: 40%">
			<a id="address1">衍峰琥珀公司</a>
			<br/>
<!-- 			<a id="address2">【公司地址】<br/>北京市东城区香河园1号当代MOMA T1 303<br/>电话：010-84388775<br/><br/>【展厅地址】<br/>北京市东城区法华寺街91号天坛古玩城2号馆<br/>电话：010-52999181</a>
 -->			<a id="address2">【展厅地址】<br/>北京市东城区法华寺街91号天坛古玩城2号馆<br/>电话：010-52999181&nbsp;&nbsp;010-52999187</a>
		</div>
	</body>
</html>