<!DOCTYPE HTML>
<html>
	<head>
		<title>衍峰琥珀|活动</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lt IE 9]> <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> <![endif]-->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/static/css/overall.css" />
		<link rel="stylesheet" href="/static/css/product-catalog.css" />
		<link rel="stylesheet" href="/static/css/event.css" />
        <link rel="stylesheet" href="/static/css/lrkf.css">
        <link rel="stylesheet" href="/static/css/lrkf_green1.css">
	</head>
	<body>
		<div id="wrapper">
			<!-- header starts -->
			<div id="header">
				<div id="nav">
					<div class="logo">
						<a href="/index/"><img src="/static/images/logo.png" width="150px" height="73px" /></a>
					</div>
					<ul class="menu">
						<li><a class="sink" href="/three-column/">产品<br /><span>Our Products</span></a></li>
						<li><a class="sink" href="/event/" style="color: #684643">活动<br /><span style="color: #684643">Our Events</span></a></li>
						<li class="li-last"><a class="sink" href="/about/">关于我们<br /><span>About us</span></a></li>
					</ul>
				</div>
			</div>
			<!-- header ends -->
			<!-- leftnav starts -->
			<div id="leftnav">
				<div id="crumbs">
					<a style="color: #b6b6b6" href="/event/">活动</a>
					<a style="color: #a09393">>></a>
					<a id="CurrentTheme" style="color: #a09393">展会</a>
				</div>
				<div id="level-event">
					<div id="zhanhui" class="level2chosen"><a style="width: 32px; height: 16px">展会</a></div>
					<div style="height: 15px"></div>
	 				<div id="zhantinghuodong" class="level2"><a style="width: 48px; height: 16px">展厅活动</a></div>
 				</div>
 			</div>
			<!-- leftnav ends -->
			<!-- banner starts -->
			<div id="banner">
				<div id="leftward" style="margin-left: -20px" class="hide"><a class="btnLeft2" id="btnLeft"></a></div>
				<div id="rightward" class="hide"><a class="btnRight2" id="btnRight"></a></div>
				<div class="box">
			    <!-- 展厅活动目录页 -->
                <div id="HallCata" class="hide">
                    {%  for h in hall_list %}
					<div class="HallCataWrapper" style={{ h.HallStyle }}>
						<div class="EventWrapperSmall">
							<img class="Hallimg" style="position: absolute; left: 10px; top: 10px; width: 230px; height: 180px" src={{ h.HallSrc }}>
						</div>
						<div class="EventNameSmall" style="left: 10px; top: 215px">{{ h.hall.title }}</div>
						<div class="EventDateSmall" style="left: 10px; top: 254px">{{ h.date }}</div>
						<div class="EventContentSmall" style="left: 10px; top: 282px">{{ h.hall.introduction }}<br/><br/>展厅地址：{{ h.hall.address }}<br/>电话：{{ h.hall.telephone }}</div>
					</div>
                    {% endfor %}
                </div>
			    <!-- 展厅活动详情页 -->
                <div id="HallDeta" class="hide">
                </div>
                <div class="EventCata">
					<!-- Column1替换为展会页面 -->
					<div id="Event1replace" style="position: absolute; left: 0">
						<div class="EventWrapper">
							<img style="position: absolute; left: 10px; top: 10px; width: 330px; height: 248px" src="/static/images/event/第四届北京国际珠宝首饰展.jpg">
						</div>
						<div class="EventName" style="left: 0; top: 270px">第四届北京国际珠宝首饰展</div>
						<div class="EventContent" style="left: 0; top: 300px">北京衍峰文化有限公司将于2014年4月13日，参加第四节北京国际珠宝首饰展览会，公司参展的产品主要以琥珀蜜蜡为主，为广大经销商和消费者提供更多更全的产品展示和选择。<br/>展会举办地点是中国国际展览中心（老国展），从4月13日到4月16日，为期4天。期待公司在展会中有一个完美的展现。</div>
					</div>
					<!-- Column2替换为展会页面 -->
					<div id="Event2replace" style="position: absolute; left: 440px">
						<div class="EventWrapper">
							<img style="position: absolute; left: 10px; top: 10px; width: 330px; height: 248px" src="/static/images/event/2014第17届济南国际珠宝展暨首届济南电视台高端生活展览会.jpg">
						</div>
						<div class="EventName" style="left: 0; top: 270px">2014第17届济南国际珠宝展<br>暨首届济南电视台高端生活展览会</div>
						<div class="EventContent" style="left: 0; top: 320px">时间：2014年6月20日—23日<br>地点：济南舜耕国际会展中心（市中区舜耕路28号）<br>主办单位： 济南电视台；山东省珠宝玉石首饰行业协会；上海宝玉石行业协会；济南市贸促会<br>承办单位：济南海名纵横会展服务有限公司<br>协办单位：亚洲珠宝联合会；深圳市黄金珠宝首饰行业协会；中华全国工商业联合会金银珠宝业商会；国家黄金钻石制品质量监督检验中心</div>
					</div>
					<!-- 替换为展会详情页 -->
					<div id="EventReplace11" style="left: 0" class="hide">
						<div class="EventWrapper">
							<img style="position: relative; left: 10px; top: 10px; width: 330px; height: 248px" src="/static/images/event/1.JPG">
						</div>
						<div class="EventName" style="left: 0; top: 270px">第四届北京国际珠宝首饰展</div>
						<div class="EventContent" style="left: 0; top: 300px">北京衍峰文化有限公司将于2014年4月13日，参加第四节北京国际珠宝首饰展览会，公司参展的产品主要以琥珀蜜蜡为主，为广大经销商和消费者提供更多更全的产品展示和选择。<br/>展会举办地点是中国国际展览中心（老国展），从4月13日到4月16日，为期4天。期待公司在展会中有一个完美的展现。</div>
					</div>
					<div id="EventReplace12" style="left: 440px" class="hide">
						<div class="EventWrapper">
							<img style="position: relative; left: 10px; top: 10px; width: 330px; height: 248px" src="/static/images/event/2.JPG">
						</div>
					</div>
					<div id="EventReplace13" style="left: 880px" class="hide">
						<div class="EventWrapper">
							<img style="position: relative; left: 10px; top: 10px; width: 330px; height: 248px" src="/static/images/event/3.JPG">
						</div>
					</div>
					<div id="EventReplace14" style="left: 1320px" class="hide">
						<div class="EventWrapper">
							<img style="position: relative; left: 10px; top: 10px; width: 330px; height: 248px" src="/static/images/event/4.JPG">
						</div>
					</div>
					<div id="EventReplace15" style="left: 1760px" class="hide">
						<div class="EventWrapper">
							<img style="position: relative; left: 10px; top: 10px; width: 330px; height: 248px" src="/static/images/event/5.JPG">
						</div>
					</div>
					<div id="EventReplace21" style="left: 0" class="hide">
						<div class="EventWrapper">
							<img style="position: relative; left: 10px; top: 10px; width: 330px; height: 248px" src="/static/images/event/2014第17届济南国际珠宝展暨首届济南电视台高端生活展览会.jpg">
						</div>
						<div class="EventName" style="left: 0; top: 270px">2014第17届济南国际珠宝展<br>暨首届济南电视台高端生活展览会</div>
						<div class="EventContent" style="left: 0; top: 320px">时间：2014年6月20日—23日<br>地点：济南舜耕国际会展中心（市中区舜耕路28号）<br>主办单位： 济南电视台；山东省珠宝玉石首饰行业协会；上海宝玉石行业协会；济南市贸促会<br>承办单位：济南海名纵横会展服务有限公司<br>协办单位：亚洲珠宝联合会；深圳市黄金珠宝首饰行业协会；中华全国工商业联合会金银珠宝业商会；国家黄金钻石制品质量监督检验中心</div>
					</div>
					<div id="EventReplace22" style="left: 440px" class="hide">
						<div class="EventContent" style="left: 0; top: 0">
						<p>济南市人民政府重大节庆活动—超乎想像的购买力</p>
						400家行业品牌企业汇集，2万个专业买家及珠宝城老总亲临现场，百名珠宝城老总论坛，百名珠宝商答谢晚宴，中国珠宝首饰发展论坛，中国珠宝首饰营销论坛，中国珠宝首饰连锁加盟采购洽谈会……<br>做珠宝、卖珠宝、做投资、玩收藏……就在济南海名纵横珠宝展全国巡展，打造万平米高端专业珠宝展。随着中国经济的发展，珠宝首饰迅速发展，已成为继房地产、汽车之后的第三个消费热点。<br>到会的主要超市、商场有：沃尔玛、家乐福、山东银座商城、贵和、恒隆广场、百盛、山东潍坊百货佳乐家、新玛特、信誉楼；大润发、华润万家、好又多、新一佳、联华、乐购、易初莲花、时代、正佳、友谊商店、好当家超市、鸿生百货、万千百货；港惠家优超市、茂业百货、爱贝特百货、天虹商场；北京崇光百货、华糖洋华堂；成都伊藤洋华堂、戈登；重庆可可波；安徽商之都；桂林微笑堂；辽宁兴隆大家庭、金凌商厦；长春国商百货、卓展；河南胖东来；西安好又佳；河北保定会友超市；湖南友谊商店、步步高商业连锁；湖北中百连锁仓储超市、中商平价超市；福建永辉超市 ……<br>到会的主要珠宝城有：中国金都黄金珠宝首饰城、中国宝石城、山东国际珠宝交易中心、明湖珠宝城、鲁地珠宝城、立多珠宝城、北方国际珠宝玉石交易中心、济南古玩城、英雄山文化市场、青岛国际工艺品城、中原珠宝城、江山珠宝城、锦泓珠宝城、金鑫珠宝城、洛克珠宝城、恩得珠宝城、爱家珠宝城、天雅珠宝城、万特珠
						</div>
					</div>
					<div id="EventReplace23" style="left: 880px" class="hide">
						<div class="EventContent" style="left: 0; top: 0">
						宝、天津珠宝街……<br>山东珠宝业已形成昌乐蓝宝石首饰、招远黄金首饰、济南黄金钻石、乳山黄金饰品和青岛饰品5大加工基地，山东黄金、宝石产量居全国第一，年消费额达30多亿元，涌现出招远的卢金匠和鸿赛，昌乐的蓝天等一大批年营业额数亿元以上的生产加工企业，以及济南的齐鲁金店等著名零售企业。<br>随着人民生活水平的提高与购买力的加强，人们对珠宝的需求持续增长。济南作为历史文化古城与名城，文人墨客众多，文化氛围也比较浓厚，孕育了良好的翡翠、玉器市场基础。济南作为潜力巨大的珠宝消费城市，成为国际卖家必选的一站：国际品牌济南卡地亚精品店的销量每年有30%—40%的增长。用业内人士的话说济南人在奢侈品消费上相当低调，但与此同时他们对高档商品的消费能力惊人，潜力相当巨大，这正是国际卖家看中济南的原因。
						<p>地处最繁华的“商业金街”—高端展会，奢华展品首选场地</p>
						济南舜耕国际会展中心坐落于济南市“国宾馆”舜耕山庄并建有5000平方米的地下两层华联超市，紧邻KFC、五星级旅游饭店山东大厦和最繁华的商业中心——泉城广场。2011年8月26日总耗资40亿元打造的世界级购物中心恒隆广场隆重开业，珠宝商争开恒隆店中店，已成为整体华北地区最高档的商业项目，改变着济南的居民消费能力和消费理念。
						</div>
					</div>
					<div id="EventReplace24" style="left: 1320px" class="hide">
						<div class="EventContent" style="left: 0; top: 0">
						<p>五大亮点——拓展北方市场首选平台</p>
						（1）特邀国家级珠宝鉴定师现场免费咨询鉴定<br>
						（2）特设台湾珠宝精品展团，台湾著名珠宝设计师创造的，独具风格的时尚中国风珠宝首饰作品。<br>
						（3）在展期内现场抽奖、赌石、珠宝走秀、精品拍卖、玉石雕刻评选等活动精彩纷呈；<br>
						（4）400余家境内外珠宝企业带来各色珠宝，缅甸翡翠、新疆白玉、斯里兰卡宝石、台湾珠宝精品、水晶、玛瑙、珍珠、钻石首饰、珊瑚集中亮相珠宝展<br>
						（5）共有来自南非、斯里兰卡、韩国、香港、台湾、波兰、泰国等10余个国家和地区的企业参展，汇集台湾展团、新疆展团、香港展团、斯里兰卡展团、南非钻石展团、深圳珠宝展团、云南翡翠展团、玉石文化展区、国际珠宝展区、奢华精品展区等10大豪华展团的参展。
						<p>立体宣传——5大措施 百万投入 买家保证</p>
						★成立“济南珠宝展”邀请中心，多渠道，多手段，有的放矢，直面专业买家<br>
						1、直邮邀请买家——总量超过20万份的买家邀请函及展会信息，将通过直邮的形式发送到专业买家手中，并做定向追踪邀请每一位专业观众光临展会。<br>
						2、电话邀请买家——邀请中心的客服专员展前三个月全天候电话邀请买家到场参观。<br>
						3、电邮发布展会快讯——15万封展会快讯电子邮件将分阶段发送给数据库中的目标观众。<br>
						</div>
					</div>
					<div id="EventReplace25" style="left: 1760px" class="hide">
						<div class="EventContent" style="left: 0; top: 0">
						4、短信邀请、提醒买家到场——覆盖数据库中的15万条业内数据+20万条终端客户数据。<br>
						5、强大的宣传攻势——通过电视、网络、平面、电台、户外广告等5大宣传渠道及100多家行业媒体、报刊、杂志等广泛宣传展会，形成由中部辐射全国的媒体宣传网络。<br>
						★买家面对面拜访——覆盖全国各珠宝城、珠宝交易中心、高档大型批发市场面对面拜访邀请买家参加展会，同时邀请各专业市场及产业园的10000家商户到会参观采购。
						</div>
					</div>
					<div id="EventReplace26" style="left: 2220px" class="hide">
						<div class="EventContent" style="left: 0; top: 0">
						<p>展位价格</p>
						<table>
						<tr>
						<th>标准展位</th>
						<th>(3m×3m) =9㎡</th>
						<th>空地基本价<br>(面积不低于36㎡)</th>
						</tr>
						<tr>
						<td>双面开口展位</td>
						<td>6000元／个展位</td>
						<td rowspan="3">
							700元／㎡展期<br>
							（注：特装修展位现场施工管理费自理，特装管理费10元/㎡。特殊用电请事先说明，另行收费）。
						</td>
						</tr>
						<tr>
						<td>展位配备</td>
						<td>照明、纸篓、楣板、一桌二椅、两只射灯、220伏电源插座、保安、清洁、地毯等。</td>
						</tr>
						<tr>
						<td>展位顺序分配原则</td>
						<td>“先申请、先付款、先安排”</td>
						</tr>
						</table>
						</div>
					</div>
					<div id="EventReplace27" style="left: 2640px" class="hide">
						<div class="EventContent" style="left: 0; top: 0">
						<p>【广告价格表】</p>
						<table>
						<tr>
						<th>会刊封面</th>
						<th>会刊封底</th>
						<th>会刊封二、三</th>
						<th>会刊内页</th>
						<th>技术交流会</th>
						</tr>
						<tr>
						<td>10000元</td>
						<td>8000元</td>
						<td>5000元</td>
						<td>3000元</td>
						<td>1小时 5000元</td>
						</tr>
						<tr>
						<th>大会门票</th>
						<th>大会展商证</th>
						<th>大会参观证</th>
						<th>手提袋</th>
						<th>企业专场</th>
						</tr>
						<tr>
						<td>5000元/万张</td>
						<td>5000元/千张</td>
						<td>8000元/万张</td>
						<td>5000元/千个</td>
						<td>3小时 8000元</td>
						</tr>
						<tr>
						<th>规格说明</th>
						<td colspan="4">会刊规格：210mm×135mm，展商证规格：90mm×125mm，门票规格：120mm×90mm<div style="height: 10px"></div>参观证规格：90mm×125mm,手提袋规格：300mm×400mm(客户提供菲林，组委会制作)</td>
						</tr>
						<tr>
						<th>会议室配置</th>
						<td colspan="4">1、提供150人以内的会场及相关基础设施；<br>2、提供电源、投影仪、音响、麦克等；<br>3、提供会场引导及说明牌广告位；<br>4、免费提供会前的馆内广播通告和观众组织<br></td>
						</tr>
						</table>
						</div>
					</div>
					<div id="EventReplace28" style="left: 3080px" class="hide">
						<div class="EventContent" style="left: 0; top: 0">
						<p>■会刊与展会现场广告：</p>会刊宣传是参加展会产品展示与形象展示的最完美结合。是针对参观专业人事最直接的沟通，将帮助您在展会后找到客户！除在展会期间发送给参观展会的专业观众外，还通过展会强大的专业观众数据库发送给未能参观展会的各地专业人士手中，他们可利用会刊迅速查找联络方法与服务内容。因故不能参展企业，可直接选择会刊及展场广告宣传。
						<p>【如果您已决定参展，请注意以下事项】</p>
						请填写《参展报名表》签字并加盖公章后传真至组织单位，在申请展位一周内将参展费用［50%(订金)或全款］电汇或交至组委会，否则组委会有权调整或取消其所定展位，展位顺序分配原则：“先申请、先付款、先安排”					
						<p>【组织机构优势】</p>
						海名国际会展集团经过13年的发展现已成为中国市场网络最广、展会类别最多、展会数量最多、规模最大、最具发展潜力的专业会展公司之一。旗下拥有10家分公司。展会遍布在20个城市，涵盖7大行业，年均50余场。每年服务于近20000家展商以及300000多万观众。2012年11月，当选中国会展经济研究会（CCES）副会长单位；2013年4月，成为美国独立组展商协会		
						</div>
					</div>
					<div id="EventReplace29" style="left: 3520px" class="hide">
						<div class="EventContent" style="left: 0; top: 0">
						（SISO）、国际展览和项目协会（IAEE）会员单位。集团成员包括济南海名纵横会展服务有限公司、青岛海名国际会展有限公司、济南信展展览有限公司、郑州海名汇博会展策划有限公司、北京海名汇博会展有限公司、海铭商业运营有限公司等十家下属公司和多家合作公司。
						<p>【组委会秘书处】</p>
						济南海名纵横会展服务有限公司<br>地址：济南历城区华龙路28号智能园409室<br>电话：400-600-2726
						<p>招展主管 崔敏 18906406876</p>
						传真：0531-83175586<br>邮箱:1984792850@qq.com<br>网址: www.jnhaiming.com
						</div>
					</div>
				</div>
                </div>
			</div>
            <!-- banner ends -->
            <!-- footer starts -->
            <div id="footer">
                <ul class="info">
                    <li><a href="/contact/" target= "_blank ">联系我们</a></li>
                    <li><a href="/weixin/" target= "_blank ">关注我们</a><img id="weixinImg" src="/static/images/weixin.png" width="18px" height="13px"></li>
                    <li class="li-last"><a href="/http://shop109278676.taobao.com/?spm=a230r.7195193.1997079397.2.gCCOiJ" target= "_blank ">衍峰琥珀淘宝店</a></li>
                </ul>
            </div>
            <!-- footer ends -->
        </div>
	</body>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/event.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/lrkf.js" charset="utf-8"></script>
</html>