<!DOCTYPE HTML>
<html>
	<head>
		<title>衍峰琥珀|活动</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lt IE 9]> <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> <![endif]-->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/static/css/overall.css" />
		<link rel="stylesheet" href="/static/css/product-catalog.css" />
		<link rel="stylesheet" href="/static/css/event.css" />
	</head>
	<body>
		<div id="wrapper">
			<!-- header starts -->
			<div id="header">
				<div id="nav">
					<div class="logo">
						<a href="/index/"><img src="images/logo.png" width="150px" height="73px" /></a>
					</div>
					<ul class="menu">
						<li><a class="sink" href="/three-column/">产品<br /><span>Our Products</span></a></li>
						<li><a class="sink" href="/event/" style="color: #684643">活动<br /><span style="color: #684643">Our Events</span></a></li>
						<li class="li-last"><a class="sink" href="/about/">关于我们<br /><span>About us</span></a></li>
					</ul>
				</div>
			</div>
			<!-- header ends -->
			<!-- leftnav starts -->
			<div id="leftnav">
				<div id="crumbs">
					<a style="color: #b6b6b6" href="/event/">活动</a>
					<a style="color: #a09393">>></a>
					<a id="CurrentTheme" style="color: #a09393">展会</a>
				</div>
				<div id="level-event">
					<div id="zhanhui" class="level2chosen"><a style="width: 32px; height: 16px">展会</a></div>
					<div style="height: 15px"></div>
	 				<div id="zhantinghuodong" class="level2"><a style="width: 48px; height: 16px">展厅活动</a></div>
 				</div>
 			</div>
			<!-- leftnav ends -->
			<!-- banner starts -->
			<div id="banner">
				<div id="leftward" style="margin-left: 145px" class="hide"><a class="btnLeft2" id="btnLeft"></a></div>
				<div id="rightward" class="hide"><a class="btnRight2" id="btnRight"></a></div>
				<div class="box">
					<!-- Column1 -->
					<div id="Event1" class="hide">
						<div class="EventWrapper" style="left: 165px">
							<img style="position: absolute; left: 10px; top: 10px; width: 230px; height: 180px" src="">
						</div>
						<div class="EventName" style="left: 175px; top: 215px">琥珀活动</div>
						<div class="EventDate" style="left: 175px; top: 254px">2014-3-13</div>
						<div class="EventContent" style="left: 175px; top: 282px">在过去的这个周末，格但斯克琥珀展在波兰港口城市格但斯克隆重举行了，本版波兰特派员亲身前往并发回相关图片报道。<br/><br/>展厅地址：北京市东城区法华寺街91号天坛古玩城2号馆<br/>电话：010-52999181</div>
					</div>
					<!-- Column1替换为展会页面 -->
					<div id="Event1replace">
						<div class="EventWrapper" style="left: 165px">
							<img style="position: absolute; left: 10px; top: 10px; width: 230px; height: 184px" src="images/event/zhanhui.jpg">
						</div>
						<div class="EventName" style="left: 175px; top: 215px">第四节北京国际珠宝首饰展</div>
						<div class="EventDate" style="left: 175px; top: 245px">2014-3-13</div>
						<div class="EventContent" style="left: 175px; top: 275px">北京衍峰文化有限公司将于2014年4月13日，参加第四节北京国际珠宝首饰展览会，公司参展的产品主要以琥珀蜜蜡为主，为广大经销商和消费者提供更多更全的产品展示和选择。<br/>展会举办地点是中国国际展览中心（老国展），从4月13日到4月16日，为期4天。期待公司在展会中有一个完美的展现。</div>
					</div>
					<!-- Column2 -->
					<div id="Event2" class="hide">
						<div class="EventWrapper" style="left: 445px">
							<img style="position: absolute; left: 10px; top: 10px; width: 230px; height: 180px" src="">
						</div>
						<div class="EventName" style="left: 455px; top: 215px">琥珀活动</div>
						<div class="EventDate" style="left: 455px; top: 254px">2014-3-13</div>
						<div class="EventContent" style="left: 455px; top: 282px">在过去的这个周末，格但斯克琥珀展在波兰港口城市格但斯克隆重举行了，本版波兰特派员亲身前往并发回相关图片报道。</div>
					</div>
					<!-- Column3 -->
					<div id="Event3" class="hide">
						<div class="EventWrapper" style="left: 725px">
							<img style="position: absolute; left: 10px; top: 10px; width: 230px; height: 180px" src="">
						</div>
						<div class="EventName" style="left: 735px; top: 215px">琥珀活动</div>
						<div class="EventDate" style="left: 735px; top: 254px">2014-3-13</div>
						<div class="EventContent" style="left: 735px; top: 282px">在过去的这个周末，格但斯克琥珀展在波兰港口城市格但斯克隆重举行了，本版波兰特派员亲身前往并发回相关图片报道。</div>
					</div>
				</div>
			</div>
			<!-- banner ends -->
			<!-- footer starts -->
			<div id="footer">
				<ul class="info">
					<li><a href="/contact/" target= "_blank ">联系我们</a></li>
					<li><a href="/weixin/" target= "_blank ">关注我们</a><img src="images/weixin.png" width="18px" height="13px"></li>
					<li class="li-last"><a href="/http://shop109278676.taobao.com/?spm=a230r.7195193.1997079397.2.gCCOiJ" target= "_blank ">衍峰琥珀淘宝店</a></li>
				</ul>
			</div>
			<!-- footer ends -->
		</div>
	</body>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/event.js"></script>
</html>