<!DOCTYPE HTML>
<html>
	<head>
		<title>衍峰琥珀</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lt IE 9]> <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> <![endif]-->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/static/css/overall.css" />
        <link rel="stylesheet" href="/static/css/lrkf.css">
        <link rel="stylesheet" href="/static/css/lrkf_green1.css">
	</head>
	<body>
		<div id="wrapper">
			<!-- header starts -->
			<div id="header">
				<div id="nav">
					<div class="logo">
						<a href="/index/"><img src="/static/images/logo.png" width="150px" height="73px" /></a>
					</div>
					<ul class="menu">
						<li><a class="sink" href="/three-column/">产品<br /><span>Our Products</span></a></li>
						<li><a class="sink" href="/event/">活动<br /><span>Our Events</span></a></li>
						<li class="li-last"><a class="sink" href="about/">关于我们<br /><span>About us</span></a></li>
					</ul>
					<div id="language">
						<a>中文/English</a>
					</div>
				</div>
			</div>
			<!-- header ends -->
			<!-- banner starts -->
			<div id="banner" style="left: -20px">
				<div id="leftward"><a class="btnLeft1" id="btnLeft" href="javascript:void(0);"></a></div>
				<div id="rightward" style="left: 990px"><a class="btnRight1" id="btnRight" href="javascript:void(0);"></a></div>
				<div class="box">
					<a id="focus" style="cursor: pointer">
						<img id="focus1" style="filter: alpha(opacity=100); width: 960px; height: 420px" src="/static/images/index/0.png" />
						<img id="focus2" style="width: 960px; height: 420px" src="/static/images/index/1.png" />
						<img id="focus3" style="width: 960px; height: 420px" src="/static/images/index/2.png" />
					</a>
				</div>
			</div>
			<!-- banner ends -->
			<!-- footer starts -->
			<div id="footer">
				<ul class="info">
					<li><a href="/contact/" target= "_blank ">联系我们</a></li>
					<li><a href="/weixin/" target= "_blank ">关注我们</a><img src="/static/images/weixin.png" width="18px" height="13px"></li>
					<li class="li-last"><a href="http://shop109278676.taobao.com/?spm=a230r.7195193.1997079397.2.gCCOiJ" target= "_blank ">衍峰琥珀淘宝店</a></li>
				</ul>
			</div>
			<!-- footer ends -->
		</div>
	</body>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/BannerSlider.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/lrkf.js" charset="utf-8"></script>
</html>