<!DOCTYPE HTML>
<html>
	<head>
		<title>衍峰琥珀|产品</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lt IE 9]> <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> <![endif]-->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/static/css/overall.css" />
		<link rel="stylesheet" href="/static/css/product-catalog.css" />
	</head>
	<body onload="init()">
		<div id="wrapper">
			<!-- header starts -->
			<div id="header">
				<div id="nav">
					<div class="logo">
						<a href="/index/"><img src="/static/images/logo.png" width="150px" height="73px" /></a>
					</div>
					<ul class="menu">
						<li><a class="sink" href="/three-column/" style="color: #684643">产品<br /><span style="color: #684643">Our Products</span></a></li>
						<li><a class="sink" href="/event/">活动<br /><span>Our Events</span></a></li>
						<li class="li-last"><a class="sink" href="/about/">关于我们<br /><span>About us</span></a></li>
					</ul>
				</div>
			</div>
			<!-- header ends -->
			<!-- leftnav starts -->
			<div id="leftnav">
				<div id="crumbs">
					<a style="color: #b6b6b6" href="/three-column/">产品</a>
					<a style="color: #a09393">>></a>
					<a id="CurrentTheme" style="color: #a09393">xx系列</a>
				</div>
				<div id="level-diaoke" style="display: none">
					<!-- baijian starts -->
					<div id="baijian" class="level2 level21"><a style="width: 32px; height: 16px">摆件</a></div>
					<div class="hidden1" style="display: none">
						<div style="height: 8px"></div>
						<div class="level3" id="baijian1">
							<div class="square" style="top: 46px"></div><a>波罗的海</a>
						</div>
						<div style="height: 8px"></div>
						<div class="level3" id="baijian2">
							<div class="square" style="top: 69px"></div><a>缅甸</a>
						</div>
						<div style="height: 8px"></div>
						<div class="level3" id="baijian3">
							<div class="square" style="top: 92px"></div><a>墨西哥</a>
						</div>
						<div style="height: 8px"></div>
					</div>
					<!-- baijian ends -->
					<div style="height: 15px"></div>
					<!-- diaokejian starts -->
	 				<div id="diaokejian" class="level2 level22"><a style="width: 48px; height: 16px">雕刻件</a></div>
					<div class="hidden2" style="display: none">
						<div style="height: 8px"></div>
						<div class="level3" id="diaokejian1">
							<div class="square" style="top: 95px"></div><a>多米尼加</a>
						</div>
						<div style="height: 8px"></div>
						<div class="level3" id="diaokejian2">
							<div class="square" style="top: 118px"></div><a>缅甸</a>
						</div>
						<div style="height: 8px"></div>
					</div>
					<!-- diaokejian ends -->
					<div style="height: 15px"></div>
					<!-- shoubajian starts -->
					<div id="shoubajian" class="level2 level23"><a style="width: 48px; height: 16px">手把件</a></div>
					<div class="hidden3" style="display: none">
						<div style="height: 8px"></div>
						<div class="level3" id="shoubajian1">
							<div class="square" style="top: 144px"></div><a>波罗的海</a>
						</div>
						<div style="height: 8px"></div>
					</div>
					<!-- shoubajian ends -->
 				</div>
				<div id="level-shipin" style="display: none">
					<!-- bianzhi starts -->
					<div id="bianzhi" class="level2 level21"><a style="width: 32px; height: 16px">编织特色</a></div>
					<div class="hidden1" style="display: none">
						<div style="height: 8px"></div>
						<div class="level3" id="bianzhi1">
							<div class="square" style="top: 46px"></div><a>波罗的海</a>
						</div>
						<div style="height: 8px"></div>
					</div>
					<!-- bianzhi ends -->
					<div style="height: 15px"></div>
					<!-- diaozhui starts -->
	 				<div id="diaozhui" class="level2 level22"><a style="width: 48px; height: 16px">吊坠</a></div>
					<div class="hidden2" style="display: none">
						<div style="height: 8px"></div>
						<div class="level3" id="diaozhui1">
							<div class="square" style="top: 95px"></div><a>波罗的海</a>
						</div>
						<div style="height: 8px"></div>
						<div class="level3" id="diaozhui2">
							<div class="square" style="top: 118px"></div><a>多米尼加</a>
						</div>
						<div style="height: 8px"></div>
						<div class="level3" id="diaozhui3">
							<div class="square" style="top: 141px"></div><a>缅甸</a>
						</div>
						<div style="height: 8px"></div>
					</div>
					<!-- diaozhui ends -->
					<div style="height: 15px"></div>
					<!-- jiezhi starts -->
					<div id="jiezhi" class="level2 level23"><a style="width: 48px; height: 16px">戒指和耳钉</a></div>
					<div class="hidden3" style="display: none">
						<div style="height: 8px"></div>
						<div class="level3" id="jiezhi1">
							<div class="square" style="top: 144px"></div><a>多米尼加</a>
						</div>
						<div style="height: 8px"></div>
					</div>
					<!-- jiezhi ends -->
					<div style="height: 15px"></div>
					<!-- shouzhuo starts -->
					<div id="shouzhuo" class="level2 level24"><a style="width: 48px; height: 16px">手镯</a></div>
					<div class="hidden4" style="display: none">
						<div style="height: 8px"></div>
						<div class="level3" id="shouzhuo1">
							<div class="square" style="top: 193px"></div><a>波罗的海</a>
						</div>
						<div style="height: 8px"></div>
						<div class="level3" id="shouzhuo2">
							<div class="square" style="top: 216px"></div><a>墨西哥</a>
						</div>
						<div style="height: 8px"></div>
					</div>
					<!-- shouzhuo ends -->
 				</div>
				<div id="level-zhuchuan" style="display: none">
					<!-- fozhu starts -->
					<div id="fozhu" class="level2 level21"><a style="width: 32px; height: 16px">佛珠</a></div>
					<div class="hidden1" style="display: none">
						<div style="height: 8px"></div>
						<div class="level3" id="fozhu1">
							<div class="square" style="top: 44px"></div><a>波罗的海</a>
						</div>
						<div style="height: 8px"></div>
						<div class="level3"  id="fozhu2">
							<div class="square" style="top: 69px"></div><a>多米尼加</a>
						</div>
						<div style="height: 8px"></div>
					</div>
					<!-- fozhu ends -->
					<div style="height: 15px"></div>
					<!-- shouchuan starts -->
	 				<div id="shouchuan" class="level2 level22"><a style="width: 48px; height: 16px">手串</a></div>
					<div class="hidden2" style="display: none">
						<div style="height: 8px"></div>
						<div class="level3"  id="shouchuan1">
							<div class="square" style="top: 95px"></div><a>波罗的海</a>
						</div>
						<div style="height: 8px"></div>
						<div class="level3"  id="shouchuan2">
							<div class="square" style="top: 118px"></div><a>多米尼加</a>
						</div>
						<div style="height: 8px"></div>
					</div>
					<!-- shouchuan ends -->
 				</div>
 			</div>
			<!-- leftnav ends -->
			<!-- banner starts -->
			<div id="banner">
				<div id="leftward" style="margin-left: -20px"><a class="btnLeft2" id="btnLeft"></a></div>
				<div id="rightward" style="left: 825px"><a class="btnRight2" id="btnRight"></a></div>
                <div class="box" id="display">{% include 'html/product-display.html' %}</div>
				<!-- 用于产品详情页 -->
				<div class="detail" style="display: none; width: 980px; left: -165px">
					<img style="left: 0; width: 720px; height: 420px" src="/static/images/product-detail/bg.png" />
					<img id="DetailProductPicture" style="left: 10px; top:10px; width: 600px; height: 400px" />
					<div id="DetailName" style="left: 648px">
						<div id="DetailName1">
							<div class="DetailBracket"><a>【</a></div>
							<br/><a></a><br/>
							<div class="DetailBracket"><a>】</a></div>
						</div>
						<div id="DetailName2"><a></a></div>
					</div>
					<div id="BackToCata" style="left: 740px"><a>返回目录>></a></div>
					<div id="preview" style="left: 740px"><img id="DetailProductPreview" style="left: 5px; top:5px; width: 60px; height: 40px"></div>
				</div>
			</div>
			<!-- banner ends -->
			<!-- footer starts -->
			<div id="footer">
				<ul class="info">
					<li><a href="/contact/" target= "_blank ">联系我们</a></li>
					<li><a href="/weixin/" target= "_blank ">关注我们</a><img src="/static/images/weixin.png" width="18px" height="13px"></li>
					<li class="li-last"><a href="/http://shop109278676.taobao.com/?spm=a230r.7195193.1997079397.2.gCCOiJ" target= "_blank ">衍峰琥珀淘宝店</a></li>
				</ul>
			</div>
			<!-- footer ends -->
		</div>
	</body>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/product-catalog.js"></script>
</html>