<!-- 用于产品目录页 -->
{% for product_info in product_list %}
    <img class="ProductBg"  style={{ product_info.bgStyle }} src={{ product_info.bgSRC }} />
    <img class="ProductShow" style={{ product_info.bgStyle }} src={{ product_info.displaySRC }} />
    <div class="DisplayName" style={{ product_info.NameStyle }}>
        <div class="bracket"><a>【</a></div>
        <a>{{ product_info.product.display_name }}</a>
        <div class="bracket"><a>】</a></div>
        <a>·{{ product_info.product.material }}</a>
    </div>
{% endfor %}