<!DOCTYPE HTML>
<html>
	<head>
		<title>衍峰琥珀|产品</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lt IE 9]> <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> <![endif]-->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/static/css/overall.css" />
	</head>
	<body>
		<div id="wrapper">
			<!-- header starts -->
			<div id="header">
				<div id="nav">
					<div class="logo">
						<a href="/index/"><img src="/static/images/logo.png" width="150px" height="73px" /></a>
					</div>
					<ul class="menu">
						<li><a class="sink" href="/three-column/" style="color: #684643">产品<br /><span style="color: #684643">Our Products</span></a></li>
						<li><a class="sink" href="/event/">活动<br /><span>Our Events</span></a></li>
						<li class="li-last"><a class="sink" href="/about/">关于我们<br /><span>About us</span></a></li>
					</ul>
				</div>
			</div>
			<!-- header ends -->
			<!-- banner starts -->
			<div id="banner">
				<div id="leftward" style="display: none"><a class="btnLeft" id="btnLeft" href="/javascript:void(0);"></a></div>
				<div id="rightward" style="display: none"><a class="btnRight" id="btnRight" href="/javascript:void(0);"></a></div>
				<div class="box">
					<a href="/product/?theme=1"><img width="320px" height="420px" src="/static/images/three-column/1.png"/></a>
					<a href="/product/?theme=2"><img width="320px" height="420px" style="margin-left: 319px" src="/static/images/three-column/2.png"/></a>
					<a href="/product/?theme=3"><img width="320px" height="420px" style="margin-left: 638px" src="/static/images/three-column/3.png"/></a>
				</div>
			</div>
			<!-- banner ends -->
			<!-- footer starts -->
			<div id="footer">
				<ul class="info">
					<li><a href="/contact/" target= "_blank ">联系我们</a></li>
					<li><a href="/weixin/" target= "_blank ">关注我们</a><img src="/static/images/weixin.png" width="18px" height="13px"></li>
					<li class="li-last"><a href="/http://shop109278676.taobao.com/?spm=a230r.7195193.1997079397.2.gCCOiJ" target= "_blank ">衍峰琥珀淘宝店</a></li>
				</ul>
			</div>
			<!-- footer ends -->
		</div>
	</body>
</html>