<!DOCTYPE html>
<html>
    <head>
        <title>衍峰琥珀|编辑展会海报</title>
    </head>
    <body>
        {#上传展会海报#}
        <form action="/admin/" method="post" enctype="multipart/form-data" accept="image/*">
            {% csrf_token %}
            <h3>展会的海报，是显示在展会首页，作为展会简介的图片</h3>
            <h4>您可以上传一张图片，作为该展会的海报</h4>
            <input type="file" name="poster" value="" />
            <textarea name="CurrentEventId" id="CurrentEventId" style="display: none">{{ CurrentEventId }}</textarea>
            <button>上传</button>
        </form>
    </body>
</html>
