body{
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: url(../images/bg.png) no-repeat center top;
	background-size: cover;
	overflow: auto;
	text-decoration: none;
}
img{border:0 none;}
.hide{
	display: none;
}

#wrapper{
	position: relative;
	margin: 90px auto;
	width: 1000px;
}

.logo{
	width: 156px;
	height: 98px;
	position: absolute;
	left: 0;
	top: 10px;
}
#nav ul.menu{
	width: 400px;
	position: absolute;
	left: 157px;
	top: 23px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#nav ul.menu li{
	width: 124px;
	height: 50px;
	bottom: 25px;
	display: inline-block;
	border-left:1px solid #7b7b7b;
}
#nav ul.menu li.li-last{
	border-right:1px solid #7b7b7b;
}
#nav ul.menu a.sink {
	display: inline-block;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
#nav ul.menu a.sink:hover {
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	transform: translateY(5px);
}
#nav ul.menu li a{
	font-family: "SimHei";
	font-size: 14px;
	color: #7b7b7b;
	text-decoration: none;
	line-height: 24px;
}
#nav ul.menu li a span{
	font-family: "Helvetica";
	font-size: 12px;
	color: #7b7b7b;
}
#language{
	position: absolute;
	top: 51px;
	right: 40px;
	font-family: "SimHei";
	font-size: 13px;
	color: #9a9a9a;
}

#banner{
	width: 815px;
	height: 450px;
	position: absolute;
	left: 145px;
	top: 98px;
}
#banner img{
	position: absolute;
	left: 20px;
	top: 0;
}
#leftward {
	width: 20px;
	height: 420px;
	position: absolute;
	left: 0;
	top: 0;
}
#rightward{
	width: 20px;
	height: 420px;
	position: absolute;
	left: 825px;
	top: 0;
}
/*可用的左箭头*/
.btnLeft1 {
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-right: 10px solid #c5c5c5;
	border-bottom: 9px solid transparent;
	position: absolute;
	top: 201px;
}
/*可用的右箭头*/
.btnRight1 {
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-left: 10px solid #c5c5c5;
	border-bottom: 9px solid transparent;
	position: absolute;
	top: 201px;
}
/*不可用的左箭头*/
.btnLeft2 {
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-right: 10px solid #dedede;
	border-bottom: 9px solid transparent;
	position: absolute;
	top: 201px;
}
/*不可用的右箭头*/
.btnRight2 {
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-left: 10px solid #dedede;
	border-bottom: 9px solid transparent;
	position: absolute;
	top: 201px;
}

#footer{
	letter-spacing: 1.7px;
}
#footer ul.info{
	width: 400px;
	position: absolute;
	left: 280px;
	top: 538px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#footer ul.info li{
	width: 124px;
	height: 24px;
	display: inline-block;
	border-left:1px solid #c19c87;
}
#footer ul.info li.li-last{
	border-right:1px solid #c19c87;
}
#footer ul.info li a{
	font-family: "SimHei";
	font-size: 12px;
	color: #c19c87;
	text-decoration: none;
	border-style:none;
	background-color: transparent;
}
#footer ul.info li img{
	position: absolute;
	top: 5px;
}